h1{
    color: rgb(247, 166, 62);
}

#card1{
      
      height: 50%;
}
#row1{
    background-image: url("https://images.unsplash.com/photo-1519608487953-e999c86e7455?ixlib=rb-0.3.5&s=2bdb09385e223b27295f922b64d406b2&auto=format&fit=crop&w=1050&q=80");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
body {
   
    font-size: 16px;
}
.neon {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.15em;
    position: relative;
    top: 100px;
}

.pink {
    text-shadow: 
        0 0 5px #ff7bac,
        0 0 10px #ff7bac,
        0 0 20px #ff7bac,
        0 0 40px #ff7bac,
        0 0 80px #ff7bac,
        0 0 90px #ff7bac,
        0 0 100px #ff7bac,
        0 0 150px #ff7bac;
}
.blue {
    text-shadow: 
        0 0 5px #7bacff,
        0 0 10px #7bacff,
        0 0 20px #7bacff,
        0 0 40px #7bacff,
        0 0 80px #7bacff,
        0 0 90px #7bacff,
        0 0 100px #7bacff,
        0 0 150px #7bacff;
}
.green {
    text-shadow: 
        0 0 5px #7bffce,
        0 0 10px #7bffce,
        0 0 20px #7bffce,
        0 0 40px #7bffce,
        0 0 80px #7bffce,
        0 0 90px #7bffce,
        0 0 100px #7bffce,
        0 0 150px #7bffce;
}
#blink-soft {
    animation: blinker 2.6s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #row2{
    background-image: url("https://png.pngtree.com/element_origin_min_pic/16/06/15/165761150d11e20.jpg");
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
    left: 23%;
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote:after {
    color: darkgray;
    content:close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
 
  blockquote p {
    display: inline;
    font-family: fantasy;
    font-style: italic;
    font-weight: 600;
    font-variant: small-caps;
    font-stretch: ultra-expanded;
    font-size: 24px;
  }
  body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#999;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 12px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
#text1{
    color: white;
    position: relative;
    right: 10%;
    top: 20px;
} 
body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    width: 80%;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  hr {
    border: 0;
    clear: both;
    display: block;
    margin: 2.4rem auto;
    text-align: center;
    width: 100%;
  }
  
  /* -- Animated hr -- */
  
  .progress {
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
  }
  
  .progress::before {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: progress;
    background: #111;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
  }
  
  @keyframes progress {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1440px);
    }
  }
  