{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1 id="p">profile page</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5><img  class="img-circle" src="{{user.profiles_item.profile.profile_pic.url}}" > Logged in as:{{request.user}}</h5> 
            {% if request.user.profile.profile_image  %}
                <img src="{{request.user.profile.profile_image.url}}" class="img-responsive" alt="Image" height="250" width="250" style="border-radius: 50%;" >
                <div class="card" id="card1">
                <p>Username:{{request.user.profile.username}}</p>
                <p>neighbourhood:{{request.user.profile.neighbourhood}}</p>
                <p>Location:{{request.user.profile.location}}</p>
                {% else %}
              {% endif %}
            
            </div>
        <div class="col-md-6">
        <form action="{%url 'profile' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {% bootstrap_form form layout='inline'%}
            <input type="submit" class="btn btn-sucess btn-lg" value="Post">           
        </form>
        <hr >
        <a href="{%url 'post'%}">Post a project</a>
     <hr>
        </div>
    </div>
    </div>
    {% for photos_item in post %}

    <div class="container">
    <div style="text-align:center;" class="row" id="profilerow">
        <div class="col-md-6">
            <div id="imagecard">
        <img float="center" class="" src="{{photos_item.image.url}}" alt="Card image cap" style="width: 50%; top: 150px;">
        <div class="card-body">
      <p>{{photos_item.post}}</p>
     <p>{{photos_item.link}}</p>
     <p>{{photos_item.post_description}}</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
</div>




